.card-cadastro-turistico {
    border-radius: 15px;
    margin: 20px;
    box-shadow: -1px 1px 18px -6px rgb(0 0 0 / 35%);
}
.orientation-group-inputs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    /* flex-wrap: wrap; */
}
.container-input-text {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.title-card {
    margin-bottom: 20px;
}
form {
    height: 100%;
}
.container-input-text input, .container-fake-input-currency {
    margin-top: 5px;
    height: 20px;
    padding: 5px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: transparent;
}
.container-input-text input:focus {
    outline: 1px solid var(--color-secondary);
}
.container-second-orientation {
    display: flex;
    gap: 10px;
}
/* RADIO BUTTON */
.orientation-group-inputs-radio {
    margin-bottom: 10px;
}
.times {
    flex-direction: row;
}
.radio-options {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}
input[type="radio"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: var(--color-primary);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--color-primary);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-right: 5px;
}
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-secondary);
    background-color: CanvasText;
}
input[type="radio"]:checked::before {
    transform: scale(1);
}
/* input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
} */
.form-control:focus-within {
    color: var(--color-secondary);
}
select {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: transparent;   
    
}
select:focus {
    outline: 1px solid var(--color-secondary);
}
select option {
    font-size: 16px;
    color: var(--color-secondary);
    background-color: var( --color-green-third);
}
 option:hover {
    background-color: var(--color-secondary);
}
.container-currency {
    width: 100%;
}
.container-fake-input-currency {
    display: flex;
}
.container-fake-input-currency input {
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 5px;
}
.container-fake-input-currency input:focus {
  outline: none;
}
textarea {
    margin-top: 5px;
    max-width: 100%;
    min-width: 100%;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    padding: 10px;
    box-sizing: border-box;
    max-height: 110px;
    border-radius: 8px;
}
textarea:focus {
    outline:  1px solid var(--color-secondary);
}
.times .container-input-tex {
    width: initial;
}
.input-time::selection {
    background-color: var(--color-secondary);
}

input[type=file] {
    padding: 0;
    height: 32px;
}
input[type=file]::file-selector-button {
    border: none;
    border-radius: .2em;
    background-color: var(--color-primary);
    height: 100%;
    transition: 1s;
    padding: 10px;
    color: var(--color-white);
  }
@media (max-width: 320px) {  

}
@media (min-width: 600px) {  
    .card-cadastro-turistico {
        max-width: 600px;
        margin: 0 0;
        width: 100%;
    } 
    .container-input-text {
        width: 100%;
    }
    .orientation-group-inputs {
        flex-direction: row;
    }
    .times .container-input-text {
        width: initial;
    }
}