#card-cadastro-turistico {
    max-width: 500px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: -1px 1px 18px -6px rgb(0 0 0 / 35%);
}
.container-input-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
input {
    margin-top: 10px;
    /* max-width: 200px; */
    height: 20px;
    padding: 5px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: transparent;
}
@media (min-width: 700px) {  
    #card-cadastro-turistico {
        margin: 20px auto;
    } 
    input {
        max-width: 200px;
    }
}