#card-cadastro-turistico {
    border-radius: 15px;
    margin: 20px;
    box-shadow: -1px 1px 18px -6px rgb(0 0 0 / 35%);
}
.orientation-group-inputs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
}
.container-input-text {
    display: flex;
    flex-direction: column;
   
}
form {
    padding: 20px;
}
.container-input-text input {
    margin-top: 5px;
    height: 20px;
    padding: 5px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: transparent;
}
.container-input-text input:focus {
    outline: 1px solid var(--color-secondary);
}
/* RADIO BUTTON */
.orientation-group-inputs-radio {
    margin-bottom: 10px;
}
.radio-options {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}
input[type="radio"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: var(--color-primary);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--color-primary);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-right: 5px;
}
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-secondary);
    background-color: CanvasText;
}
input[type="radio"]:checked::before {
    transform: scale(1);
}
/* input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
} */
.form-control:focus-within {
    color: var(--color-secondary);
  }
@media (max-width: 320px) {  

}
@media (min-width: 600px) {  
    #card-cadastro-turistico {
        max-width: 600px;
        margin: 20px auto;
    } 
    .container-input-text {
        width: 100%;
    }
    .orientation-group-inputs {
        flex-direction: row;
    }
    input {
       
        max-width: 300px;
    }
    
}